@import "tailwindcss";

@layer utilities{
  .font-jetbrains{
    font-family: "JetBrains Mono", monospace;
  }
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #060E20;
  font-family: "Inter", sans-serif;
}