@import "tailwindcss";
@theme {
    --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
    --font-mono: 'Geist Mono', monospace;
}

body {
    background-color: #18181b;
    font-family: var(--font-mono);
}
code {
  font-family: var(--font-mono);
}